/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f0f0f0;
    padding-top: 20px;
}